.place__like-button {
  background-image: url(../../../photos/like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  align-self: center;
  padding-left: 40px;
  justify-self: start;
}

.place__like-button:hover {
  opacity: 0.5;
}
